/* ~~~~~ GLOBAL RULES ~~~~~ */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  margin: auto;
  text-align: center;
}

body {
  background: ghostwhite;
}

button,
input {
  font-size: 20px;
  padding: 10px 20px;
}

button {
  background: black;
  border: none;
  border-radius: 10px;
  color: white;
}

button:hover {
  background: darkslateblue;
}

.hidden {
  display: none!important;
}

/* ~~~~~ MAIN POSTER SECTION ~~~~~ */
.main-poster {
  height: 100vh;
}


.poster {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 50px 20px;
    width: 175vh;
    height: 89vh;
}



.poster-img {
  background-size: cover;
  border: 2px solid white;
  width: 90vh;
  height: 65vh;
}

.poster-title,
.poster-quote {
  color: white;
  line-height: 1;
  width: 90%;
}

.poster-title {
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-poster button {
  margin: 10px;
}

/* ~~~~~ POSTER FORM SECTION ~~~~~ */
.poster-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.poster-form h2 {
  margin-bottom: 30px;
}

.poster-form form {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.poster-form input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.poster-form .divider {
  border-bottom: 1px solid black;
  margin: auto;
  margin-bottom: 20px;
  width: 400px;
}

/* ~~~~~ SAVED POSTER SECTION ~~~~~ */
.saved-posters {
  padding: 40px;
}

.saved-posters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.mini-poster {
  background: black;
  color: white;
  height: 340px;
  padding: 25px;
  width: 425px;
}

.mini-poster img {
  height:200px;
  width: 300px;
  object-fit: cover;
}

.mini-poster h2,
.mini-poster h4,
.delete {
  color: white;
  line-height: 1;
  width: 90%;
}

.mini-poster h2 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Unmotivational Poster section 
Add a div and add mini posters to that div flexbox grid -> unmotivational-mini-posters (flex box) 
-> mini-poster(content)
*/
h2 > body {
  margin: 80px 0px 0px 0px;
}

.unmotivational-posters-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 30px 29px 36px 27px;
  align-content: center;
  margin: 155px;
}

.unmotivational-mini-poster {
  background: #808080;
  color: white;
  height: 40vh;
  padding: 20px;
  width: 55vh;
  border-radius: 18px;
}

.unmotivational-mini-poster img {
  width: 100%;
  height: 86%;
  object-fit: cover;
  border: 5px;
  border-color: black;
  padding: 30px 30px 30px 30px;
  margin: -19px;
}

.unmotivational-mini-poster h2,
.unmotivational-mini-poster h4,
.delete {
  color: rgb(0, 0, 0);
  line-height: 1;
  width: 90%;
}

.unmotivational-mini-poster h2 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}